#container {
    margin:0 auto;
    width:510;
}
#rules_cta {
    position:absolute;
    top:0;
    left:24%;
}

body {
	margin:0 0 0 7px;
	/* background:#EEE; */
	/* background:#51c5e8; */
	background:#51c5cc;
}
#title_header {
	font-size:36px;
	text-align:center;
	width:80%;
    margin:0 50px;
	position:relative;
	font-family:"Palatino Linotype", Palatino, serif;
}
#wrapper {
	position:absolute;
	height:60px;
}
.col {
	float:left;
	height:inherit;
	margin:0 7px;
	position:relative;
}
#col2,
#col3,
#col4{
	margin-top:14px;
}
#guess_submit {
	position:absolute;
    left:47px;
    bottom:0px;
}
#anagram {
	position:absolute;
    right:0px;
    bottom:0px;
}
#notes_textbox {
    position:absolute;
    top:70px;
    left:218px;
	width:290px;
	height:63px;
}

input[type=text],
#col1 button,
#rules_cta {
    padding:2px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family:"Courier New", Courier, monospace;
    box-shadow: 2px 2px 1px #888;
}
input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    -webkit-border-radius:5px;
    border-radius:5px;
    font-family:"Courier New", Courier, monospace;
    box-shadow: 2px 2px 1px #888;
}
#phps {
	position:absolute;
	top:120px;
    font-family:"Courier New", Courier, monospace;
}
.letter_list {
	margin-left:10px;
	font-family:"Courier New", Courier, monospace;
}
.unknown {
	color:black !important;
}
.present {
	color:red !important;
}
.absent	 {
	color:#888 !important;
	text-decoration:line-through;
}
.guessed {
    text-decoration:underline;
}
.history_list {
	color:blue;
	font-size:18;
}
.history_correct {
	color:red;
	font-weight:bold;
	position:absolute;
	left:200px;
}
#alphabet {
    background:#EDE;
    padding-right:4px;
    border-radius:5px;
    -webkit-border-radius:5px;
    box-shadow: 2px 2px 1px #888;
}
.history_wrapper {
	background:#EDE;
	width:43%;
    padding:3 0 0 3px;
    margin-top:5px;
    border-radius:5px;
    -webkit-border-radius:5px;
    box-shadow: 2px 2px 1px #888;
}
a:link {
	text-decoration:none;
}
a:visited {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a:active {
	text-decoration:underline;
}

#rules_modal {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    z-index: 1000;
}
.transparency_cover {
    background:black;
    opacity:0.7;
    width:100%;
    height:100%;
}
#rules_explanation {
    height:280px;
    position:absolute;
    background:white;
    left:25%;
    width:50%;    
    top:100px;
    border-radius:5px;
    -webkit-border-radius:5px;
    box-shadow: 2px 2px 1px #333;
	font-family:"Palatino Linotype", Palatino, serif;
}
#rules_header {
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    background:black;
    height:22px;
    padding-top:1px;
    top:0px;
    position:relative;
    width:100%;
    text-align:center;
    color:white;
}
#overflow_container {
    height:258px;
    overflow-y:scroll;
}
#rules_text {
    padding-bottom:3px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
#close_modal {
    cursor:pointer;
    color:red;
    position:absolute;
    top:0;
    left:0;
}