body {
	margin:0 0 0 7px;
	background:#EEE;
}
#title_header {
	font-size:36px;
	text-align:center;
	background:#EEE;
	width:100%;
	position:relative;
}
#wrapper {
	position:absolute;
	height:50px;
}
.col {
	float:left;
	height:inherit;
	margin:0 7px;
	position:relative;
}
#col2,
#col3,
#col4{
	margin-top:6px;
}
#guess_submit {
	position:absolute;
    left:0px;
    bottom:0px;
}
#anagram {
	position:absolute;
    right:0px;
    bottom:0px;
}
#notes_textbox {
    position:absolute;
    top:96px;
    left:230px;
}
#phps {
	position:absolute;
	top:100px;
}
.letter_list {
	margin-left:10px;
	font-family:"Courier New", Courier, monospace; 
}
.unknown {
	color:black !important;	
}
.present {
	color:red !important;
}
.absent	 {
	color:#BBB !important;
	text-decoration:line-through; 
}
.was_guessed {
    text-decoration:underline; 
}
.history_list {
	color:blue;
	font-size:18;
}
.history_correct {
	color:red;
	font-weight:bold;
	position:absolute;
	left:200px; 
}
.history_wrapper {
	font-family:"Courier New", Courier, monospace;
	background:#DDD;
	width:43%;
} 
a:link {
	text-decoration:none;
}
a:visited {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a:active {
	text-decoration:underline;
}